# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
weatherdf=pd.read_csv('weather')
weatherdf

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,port alfred,-33.59,26.89,64.49,44,0,9.73,ZA,1595466755
1,1,bubaque,11.28,-15.83,80.87,82,100,10.04,GW,1595466723
2,2,seoni malwa,22.45,77.47,80.06,81,100,3.69,IN,1595466755
3,3,bhanvad,21.93,69.77,80.92,84,94,8.72,IN,1595466755
4,4,san quintin,30.48,-115.95,67.86,76,35,16.13,MX,1595466756
...,...,...,...,...,...,...,...,...,...,...
554,554,redmond,47.67,-122.12,70.00,74,23,3.85,US,1595466621
555,555,bukan,36.52,46.21,68.09,26,0,1.25,IR,1595466892
556,556,jishou,28.32,109.72,82.63,74,95,3.58,CN,1595466892
557,557,poya,-21.35,165.15,71.22,62,83,6.93,NC,1595466892
558,558,champerico,14.30,-91.92,82.47,73,100,2.30,GT,1595466892

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
humidity = weatherdf["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = weatherdf[["Latitude", "Longitude"]]

In [18]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
weatherdf.dropna(how='all')

In [54]:
weatherdf.dropna(how='all')

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,port alfred,-33.59,26.89,64.49,44,0,9.73,ZA,1595466755
1,1,bubaque,11.28,-15.83,80.87,82,100,10.04,GW,1595466723
2,2,seoni malwa,22.45,77.47,80.06,81,100,3.69,IN,1595466755
3,3,bhanvad,21.93,69.77,80.92,84,94,8.72,IN,1595466755
4,4,san quintin,30.48,-115.95,67.86,76,35,16.13,MX,1595466756
...,...,...,...,...,...,...,...,...,...,...
554,554,redmond,47.67,-122.12,70.00,74,23,3.85,US,1595466621
555,555,bukan,36.52,46.21,68.09,26,0,1.25,IR,1595466892
556,556,jishou,28.32,109.72,82.63,74,95,3.58,CN,1595466892
557,557,poya,-21.35,165.15,71.22,62,83,6.93,NC,1595466892
558,558,champerico,14.30,-91.92,82.47,73,100,2.30,GT,1595466892

In [26]:

# A max temperature lower than 80 degrees but higher than 70.
maxtemp=weatherdf.loc[(weatherdf['Max Temp']>70) & (weatherdf['Max Temp']<80)]
maxtemp

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,karratha,-20.74,116.85,73.44,39,0,11.61,AU,1595466756
8,8,albany,42.60,-73.97,72.00,91,100,3.44,US,1595466490
9,9,kizukuri,40.81,140.39,75.99,73,75,9.17,JP,1595466757
10,10,vaini,-21.20,-175.20,71.60,83,75,14.99,TO,1595466757
11,11,cabedelo,-6.98,-34.83,73.40,83,4,6.93,BR,1595466757
...,...,...,...,...,...,...,...,...,...,...
533,533,bafq,31.61,55.41,74.25,18,0,3.02,IR,1595466886
538,538,tura,25.52,90.22,74.86,96,100,3.89,IN,1595466887
540,540,slave lake,55.28,-114.77,71.60,60,1,6.93,CA,1595466887
545,545,daru,-9.08,143.21,78.30,81,100,11.77,PG,1595466889
557,557,poya,-21.35,165.15,71.22,62,83,6.93,NC,1595466892

In [30]:
#   * Wind speed less than 10 mph.
windspeed=weatherdf.loc[(weatherdf['Wind Speed']>10)]
windspeed

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,bubaque,11.28,-15.83,80.87,82,100,10.04,GW,1595466723
4,4,san quintin,30.48,-115.95,67.86,76,35,16.13,MX,1595466756
5,5,karratha,-20.74,116.85,73.44,39,0,11.61,AU,1595466756
6,6,raahe,64.68,24.48,61.00,100,90,13.87,FI,1595466756
7,7,cockburn town,21.46,-71.14,83.61,78,19,22.70,TC,1595466756
...,...,...,...,...,...,...,...,...,...,...
535,535,chardara,41.25,67.97,81.21,24,100,11.14,KZ,1595466886
545,545,daru,-9.08,143.21,78.30,81,100,11.77,PG,1595466889
546,546,oranjestad,12.52,-70.03,82.40,78,20,17.22,AW,1595466889
550,550,saint pete beach,27.73,-82.74,82.40,83,1,13.87,US,1595466890
552,552,bathsheba,13.22,-59.52,82.40,69,40,17.22,BB,1595466883

In [43]:
#   * Zero cloudiness.
cloudiness=weatherdf.loc[(weatherdf['Cloudiness']==0)]

cloudiness

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,port alfred,-33.59,26.89,64.49,44,0,9.73,ZA,1595466755
5,5,karratha,-20.74,116.85,73.44,39,0,11.61,AU,1595466756
14,14,chicama,-7.84,-79.15,61.72,81,0,7.18,PE,1595466758
16,16,arlit,18.74,7.39,92.53,34,0,11.63,NE,1595466758
24,24,faanui,-16.48,-151.75,77.22,77,0,15.79,PF,1595466498
...,...,...,...,...,...,...,...,...,...,...
526,526,oudtshoorn,-33.59,22.20,50.00,87,0,4.70,ZA,1595466884
533,533,bafq,31.61,55.41,74.25,18,0,3.02,IR,1595466886
541,541,agadir,30.42,-9.60,69.80,83,0,6.82,MA,1595466887
544,544,avila,40.58,-5.00,69.01,57,0,3.06,ES,1595466888
555,555,bukan,36.52,46.21,68.09,26,0,1.25,IR,1595466892

In [53]:
#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
perfectweather=weatherdf.loc[(weatherdf['Max Temp']>70) & (weatherdf['Max Temp']<80)&(weatherdf['Wind Speed']>10)&(weatherdf['Cloudiness']==0)]
perfectweather.dropna(how='all')
perfectweather

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,karratha,-20.74,116.85,73.44,39,0,11.61,AU,1595466756
24,24,faanui,-16.48,-151.75,77.22,77,0,15.79,PF,1595466498
61,61,mitsamiouli,-11.38,43.28,74.95,68,0,15.32,KM,1595466768
89,89,sao joao da barra,-21.64,-41.05,71.20,88,0,10.96,BR,1595466774
91,91,piacabucu,-10.41,-36.43,74.75,81,0,12.01,BR,1595466775
194,194,idlib,35.93,36.63,78.80,83,0,13.87,SY,1595466802
202,202,rodos,36.44,28.22,77.00,88,0,11.41,GR,1595466805
208,208,guerrero negro,27.98,-114.06,70.30,75,0,19.53,MX,1595466806
250,250,awjilah,29.11,21.29,73.53,50,0,10.11,LY,1595466817
253,253,port hedland,-20.32,118.57,73.40,27,0,14.99,AU,1595466818
276,276,roebourne,-20.78,117.13,72.39,37,0,13.13,AU,1595466823
287,287,arona,28.10,-16.68,73.99,78,0,11.41,ES,1595466826
307,307,walvis bay,-22.96,14.51,71.60,25,0,13.87,NaN,1595466830
322,322,tierranueva,21.68,-100.57,71.67,57,0,11.14,MX,1595466834
372,372,abnub,27.27,31.15,78.80,50,0,13.87,EG,1595466847
403,403,maragogi,-9.01,-35.22,74.12,75,0,10.22,BR,1595466854
447,447,zaozerne,45.16,33.28,70.12,61,0,12.55,UA,1595466865

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [49]:
hotelnamelist=[]
  
target_coordinates = perfectweather['Latitude](x)', perfectweather['Longitude](x)"
target_search = "Hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
                                                                   
places_data = response.json()

# Print the json (pretty printed)
print(json.dumps(places_data, indent=4, sort_keys=True))
hotelname=(places_data["results"][0]["name"])
hotelnamelist.append(hotelname)

In [ ]:
hotel_df=perfectweather

hotel_df['Hotel Name']=hotelnamelist

In [ ]:
fig=gmaps.figure(layout=figure_layout)
markers=gmaps.marker_layer(coordinates)
fig.add_layer(markers)
fig

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure